<div class="createSymptom registerScreen">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">Patient Name: {{cons.userName}} - {{cons.userAge}} Year(s)</div>
			<div class="col-xs-12">Doctor Name: Dr. {{cons.practitionerName}}</div>
		</div>
		<div class="row marginZero">
			<ul class="nav nav-tabs">
				{{#if setting.userView}}
					<li class="active"><a data-toggle="tab" href="#symptomsTab">Symptoms</a></li>
				{{/if}}
				{{#if setting.practitionerView}}
					<li class="active"><a data-toggle="tab" href="#symptomsTab" class="consTab">Symptoms</a></li>
					<li><a data-toggle="tab" href="#diagnosisTab" class="consTab">Medical Notes</a></li>
					<li><a data-toggle="tab" href="#prescriptionTab" class="consTab prescTab">Prescription</a></li>
				{{/if}}
			</ul>

			<div class="tab-content">
				{{#if setting.userView}}
					<div id="symptomsTab" class="tab-pane fade in active">
						<textarea id="symptoms">{{{cons.symptoms}}}</textarea>
					</div>
				{{/if}}
				{{#if setting.practitionerView}}
					<div id="symptomsTab" class="tab-pane fade in active">
						<textarea id="symptoms">{{{cons.symptoms}}}</textarea>
					</div>
					<div id="diagnosisTab" class="tab-pane fade">
						<textarea id="diagnosis">{{{cons.diagnosisNotes}}}</textarea>
					</div>
					<div id="prescriptionTab" class="tab-pane fade pull-left" style="width:100%;">
						<div class="prescriptionBody">

				    	</div>
						<div style="clear:both;"></div>
						
					</div>
				{{/if}}
			</div>
		</div>
		{{#if setting.userView}}
			<div class="buttonHolder text-center">
				<button type="button" class="btn secondary backToDash btn-default navbar-btn"><a href="javascript:void(0)">Go Back</a></button>
				<button type="button" class="btn primary symptomsSave btn-default navbar-btn"><a href="javascript:void(0)">Save</a></button>
			</div>
		{{/if}}
		{{#if setting.practitionerView}}
			<div class="buttonHolder text-center">
				<button type="button" class="btn secondary backToDash btn-default navbar-btn"><a href="javascript:void(0)">Go Back</a></button>
				<button type="button" class="btn primary consSave btn-default navbar-btn"><a href="javascript:void(0)">Save</a></button>
				<button type="button" class="btn primary presSubmit btn-default navbar-btn" style="display:none;"><a href="javascript:void(0)">Submit</a></button>
			</div>
		{{/if}}
	</div>
</div>